a {
  transition: all 0.5s ease 0s;
  position: relative;
}
/* start:link animation */
a:not(.no-underline)::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
a:not(.no-underline):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
a:not(.no-underline).light-green-line::after {
  background: #267d49;
}
a:not(.no-underline).dark-green-line::after {
  background: #224f34;
}
/* end:link animation */

.main-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}

#hero {
  background-color: #c2efd4;
}

#hero #top-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 55px;
  width: 100%;
  position: relative;
}

#hero #top-nav .top-logo a {
  font-family: "Rufina", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#hero #top-nav .top-logo a:hover,
#hero #top-nav .top-logo a:focus,
#hero #top-nav .top-logo a:active {
  text-decoration: unset;
}

#hero #top-nav .shop-icon-and-login-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#hero #top-nav .shop-icon-and-login-container img {
  width: 100%;
  max-width: 30px;
}

#hero #top-nav .shop-icon-and-login-container a {
  margin-right: 59px;
}

#hero #top-nav .shop-icon-and-login-container a:last-of-type {
  margin-right: 0;
  padding: 8px 35px;
  border: 2px solid #224f34;
  text-transform: uppercase;
}

#hero #top-nav .shop-icon-and-login-container a:last-of-type:hover,
#hero #top-nav .shop-icon-and-login-container a:last-of-type:focus,
#hero #top-nav .shop-icon-and-login-container a:last-of-type:active {
  text-decoration: unset;
  background-color: #224f34;
  color: #fff;
}

#hero #top-nav a {
  color: #224f34;
  font-family: "Poppins", sans-serif;
}

#hero #top-nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}

#hero #top-nav > ul > li {
  margin-right: 57px;
}

#hero #top-nav > ul > li > a {
  text-transform: uppercase;
  padding: 5px;
}

#hero #top-nav > ul > li > a:hover,
#hero #top-nav > ul > li > a:focus,
#hero #top-nav > ul > li > a:active {
  text-decoration: unset;
  color: #267d49;
}

#hero #top-nav > ul > li:last-of-type {
  margin-right: 0;
}

#top-nav .burger-container {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0 5px;
}

#top-nav .burger {
  align-items: center;
  cursor: pointer;
  display: none;
  justify-content: center;
  position: relative;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
  z-index: 2;
  cursor: pointer;
}

#top-nav .burger .burger__patty {
  background: #000;
  height: 2px;
  position: relative;
  width: 40px;
  top: 10px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

#top-nav .burger .burger__patty:before,
#top-nav .burger .burger__patty:after {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: #000;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 100%;
}

#top-nav .burger .burger__patty:before {
  top: 10px;
}

#top-nav .burger.burger--active .burger__patty {
  background-color: transparent;
}

#top-nav .burger.burger--active .burger__patty:before {
  transform: rotate(-45deg) translate(0, 0px);
}

#top-nav .burger.burger--active .burger__patty:after {
  transform: rotate(45deg) translate(-6px, -7px);
}

body.fixed-nav #hero #top-nav-container {
  position: fixed;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10000;
  transition: all 0.2s linear;
}

body.fixed-nav #hero #top-nav-container #top-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
  #hero #top-nav {
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
  }
  #hero #top-nav .top-logo {
    display: block;
    margin: 0 auto;
  }
  #hero #top-nav .top-logo a {
    font-size: 30px;
  }
  #hero #top-nav > ul {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    overflow: hidden;
    height: 0;
    padding-top: 5px;
    transition: all 0.5s ease-in-out;
  }
  #hero #top-nav > ul > li {
    margin-right: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  #hero #top-nav > ul > li > a {
    padding: 5px;
  }
  #hero #top-nav > ul > li:last-of-type {
    margin-bottom: 0;
  }
  #hero #top-nav .shop-icon-and-login-container {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
  #top-nav .burger {
    display: flex;
  }
  #hero #top-nav > ul.active {
    height: 140px;
  }
  body.fixed-nav #hero #top-nav-container #top-nav {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  body.fixed-nav #hero #top-nav-container #top-nav .shop-icon-and-login-container {
    height: 0;
    overflow: hidden;
    flex-flow: column nowrap;
    transition: all 0.5s ease-in-out;
  }
  body.fixed-nav #hero #top-nav-container #top-nav .shop-icon-and-login-container.active {
    height: 100px;
  }
  body.fixed-nav #hero #top-nav-container #top-nav .shop-icon-and-login-container a:first-of-type {
    margin: -10px auto 10px;
    display: block;
  }
}

.hero-text-and-image {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 100px 15px 1000px 15px;
  width: 100%;
  max-width: unset;
}

.hero-text-container > h1 {
  color: #224f34;
  font-family: "Rufina", serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-text-container > p {
  color: #267d49;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 52.8px */
  margin-bottom: 54px;
}

.hero-text-container > a {
  border-radius: 3px;
  background: #224f34;
  box-shadow: 6px 33px 59px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 15px 45px;
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  transition: all 0.5s ease 0s;
}

.hero-text-container > a:hover,
.hero-text-container > a:active,
.hero-text-container > a:focus {
  text-decoration: unset;
  color: #224f34;
  background: #fff;
}

.hero-image-container {
  position: relative;
}

.hero-image-container img {
  width: 100%;
}

.hero-image-container {
  max-width: 400px;
  margin: 0 auto;
}

.hero-image-container .green-dots-1,
.hero-image-container .green-dots-2 {
  max-width: 80px;
  position: absolute;
}

.hero-image-container .green-dots-1 {
  bottom: 12%;
  left: 3%;
}

.hero-image-container .green-dots-2 {
  top: 23%;
  right: 3%;
}

/*  */

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 768px) {
  .hero-text-container {
    margin-bottom: 40px;
  }
  .hero-text-container > h1 {
    font-size: 40px;
  }
  .hero-text-container > p {
    margin-bottom: 20px;
  }
  .hero-text-container > a {
    font-size: 14px;
  }
  .hero-text-and-image {
    padding-top: 60px;
  }
}
